[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
seaborn = "*"
flask-cors = "*"
flask = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
